<li>
  {{name}}

  <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
    {{#if devour}}ORDER BURGER!{{else}}DEVOUR BURGER!{{/if}}
  </button>

  <button class="update-burger" data-id="{{this.id}}">DEVOUR!</button>
</li>