<ul>
  {{!-- Burgers that HAVE NOT been eaten 
  <button class="change-eat" data-id="{{id}}" data-neweat="{{eat}}">
    {{#if eat}}BURGER GOOD!{{else}}Update Burger{{/if}}
  </button>
--}}

  {{!-- Burger Row--}}
  {{#unless eat}}<button class="eat-burger" data-id="{{this.id}}" data-neweat="{{eat}}">Eat it!</button>{{/unless}}
  {{burger_name}}
</ul>